$line-height: calc(836px / 27);
.line-container {
    overflow: hidden;
    height: $line-height;
}

@for $i from 0 through 26 {
    .line-#{$i} {
        transform: translateY(calc(-#{$i} * 836px / 27));
    }
}