<div>Grille Lignes</div>
<button mat-stroked-button (click)="shuffle()">Shuffle</button>
<button mat-stroked-button (click)="toggleShuffle()">
  Toggle {{ started ? "OFF" : "ON" }}
</button>
<div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let idLine of lines" class="line-container" cdkDrag>
        <img [class]="'line-' + idLine" src="/assets/17.jpg" />
    </div>
</div>