.cols-container {
    display: flex;
    flex-direction: row;
}

$col-width: calc(712px / 24);
.col-container {
    overflow: hidden;
    width: $col-width;
}

@for $i from 0 through 23 {
    .col-#{$i} {
        transform: translateX(calc(-#{$i} * 712px / 24));
    }
}