<div>Grille Colonnes</div>
<button mat-stroked-button (click)="shuffle()">Shuffle</button>
<button mat-stroked-button (click)="toggleShuffle()">
  Toggle {{ started ? "OFF" : "ON" }}
</button>
<div cdkDropList cdkDropListOrientation="horizontal" class="cols-container" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let idCol of cols" class="col-container" cdkDrag>
        <img [class]="'col-' + idCol" src="/assets/17.jpg" />
    </div>
</div>